<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <script src="/admin-profile/admin-register.js"></script>
    <!-- Custom fonts for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css"
        rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
       <!-- Sidebar -->
       <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <br>
                <span class="mr-2 d-none d-lg-inline text-white-600 small" id="nombreAdmin"></span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Cerrar sesión
                </a>
            </div>
        </li>
        <br>

        <hr class="sidebar-divider my-0">

        <li class="nav-item ">
            <a class="nav-link" href="/admin/profile">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Aspirantes
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/admin/profile/exam-enable">
                <i class="fas fa-fw fa-pencil-alt"></i>
                <span>Habilitar examen</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/profile/exam-reactivate">
                <i class="fas fa-fw fa-redo"></i>
                <span>Reactivar examen</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/profile/candidate-grades">
                <i class="fas fa-fw fa-award"></i>
                <span>Resultados de examen</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/profile/grade">
                <i class="fas fa-fw fa-check"></i>
                <span>Clasificar aspirante</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Administradores
        </div>

        <li class="nav-item active">
            <a class="nav-link" href="/admin/profile/register">
                <i class="fas fa-user-plus"></i>
                <span>Registrar administrador</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/profile/edit-admin">
                <i class="fas fa-users-cog"></i>
                <span>Gestionar administrador</span></a>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Estadísticas
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reportes"
                aria-expanded="true" aria-controls="reportes">
                <i class="fas fa-file-alt"></i>
                <span>Reportes</span>
            </a>
            <div id="reportes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Examenes Anteriores:</h6>
                    <a class="collapse-item"
                        href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/buttons.html">Último
                        mes</a>
                    <a class="collapse-item"
                        href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/cards.html">Últimos 6
                        meses</a>
                    <a class="collapse-item"
                        href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/cards.html">Último
                        año</a>
                    <a class="collapse-item"
                        href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/cards.html">Por profesor
                        calificador</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Examen
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#preguntas"
                aria-expanded="true" aria-controls="preguntas">
                <i class="fas fa-question"></i>
                <span>Preguntas</span>
            </a>
            <div id="preguntas" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Gestón de preguntas:</h6>
                    <a class="collapse-item"
                        href="/admin/profile/add-question">Agregar
                        pregunta nueva</a>
                    <a class="collapse-item"
                        href="/admin/profile/edit-question">Editar
                        pregunta</a>
                </div>
            </div>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container" style="max-width: 700px">
                        <div class="py-5 text-center">
                            <p class="lead">Señor Administrador, complete los campos desplegados a continuación para
                                lograr un correcto
                                registro.</p>
                        </div>
                        <div class="container" style="width: 100%">
                            <div class="row">
                                <form class="needs-validation" novalidate>
                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="country">Tipo de documento</label>
                                            <select class="custom-select d-block w-100" id="dt" required>
                                                <option value="0">Seleccione el tipo de identificación...</option>
                                                <option value="1">Cédula de Ciudadanía</option>
                                                <option value="2">Cédula de Ciudadanía Ecuatoriana</option>
                                                <option value="3">Cédula de Extranjería</option>
                                                <option value="4">Cédula de Guatemala</option>
                                                <option value="5">Cédula de Panamá</option>
                                                <option value="6">Código de Estudiante</option>
                                                <option value="7">Documento Nacional de Identidad</option>
                                                <option value="8">Documento Personal Identificación</option>
                                                <option value="9">Nro Único Identificación Personal</option>
                                                <option value="10">Otro</option>
                                                <option value="11">Pasaporte</option>
                                                <option value="12">Registro</option>
                                                <option value="13">Tarjeta de Identidad</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor seleccione un tipo de documento.
                                            </div>
                                        </div>

                                        <div class="col mb-3">
                                            <label for="firstName">Documento de identidad</label>
                                            <input type="text" class="form-control" id="docnumber" placeholder=""
                                                value="" required>
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Documento de identidad" correctamente.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="firstName">Nombres</label>
                                            <input type="text" class="form-control" id="firstName" placeholder=""
                                                value="" required>
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Nombres" correctamente.
                                            </div>
                                        </div>
                                        <div class="col mb-3">
                                            <label for="lastName">Apellidos</label>
                                            <input type="text" class="form-control" id="lastName" placeholder=""
                                                value="" required>
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Apellidos" correctamente.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="firstName">Usuario</label>
                                            <input type="text" class="form-control" id="username" placeholder=""
                                                value="" required>
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Usuario" correctamente.
                                            </div>
                                        </div>
                                        <div class="col mb-3">
                                            <label for="lastName">Contraseña</label>
                                            <input type="text" class="form-control" id="password" placeholder=""
                                                value="" required>
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Contraseña" correctamente.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class=" col mb-3">
                                            <label for="username">Fecha de nacimiento</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="birthday"
                                                    placeholder="AAAA/MM/DD" required>
                                                <div class="invalid-feedback" style="width: 100%;">
                                                    Se requiere que llene el campo "Fecha de nacimiento" con el formato
                                                    indicado.
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col mb-3">
                                            <label for="email">Dirección de residencia</label>
                                            <input type="email" class="form-control" id="direccion" placeholder="">
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Dirección" correctamente.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col mb-3">
                                            <label for="address">Teléfono</label>
                                            <input type="text" class="form-control" id="telefono"
                                                placeholder="" required>
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Teléfono" correctamente.
                                            </div>
                                        </div>

                                        <div class="col mb-3">
                                            <label for="address2">Celular</label>
                                            <input type="text" class="form-control" id="celular" placeholder="">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 mb-3">
                                            <label for="address">Email</label>
                                            <input type="text" class="form-control" id="correo" placeholder="" required>
                                            <div class="invalid-feedback">
                                                Se requiere que llene el campo "Email" correctamente.
                                            </div>
                                        </div>

                                        <div class="col mb-3">
                                            <label for="country">Ciudad</label>
                                            <select class="custom-select d-block w-100" id="city" required>
                                                <option value="">Escoger...</option>
                                                <option value="MEDELLIN">MEDELLÍN</option>
                                                <option value="ABEJORRAL">ABEJORRAL</option>
                                                <option value="ABRIAQUI">ABRIAQUI</option>
                                                <option value="ALEJANDRIA">ALEJANDRIA</option>
                                                <option value="AMAGA">AMAGA</option>
                                                <option value="AMALFI">AMALFI</option>
                                                <option value="ANDES">ANDES</option>
                                                <option value="ANGELOPOLIS">ANGELÓPOLIS</option>
                                                <option value="ANGOSTURA">ANGOSTURA</option>
                                                <option value="ANORI">ANORI</option>
                                                <option value="SANTA FE DE ANTIOQUIA">SANTA FE DE ANTIOQUIA</option>
                                                <option value="ANZA">ANZA</option>
                                                <option value="APARTADO">APARTADÓ</option>
                                                <option value="ARBOLETES">ARBOLETES</option>
                                                <option value="ARGELIA">ARGELIA</option>
                                                <option value="ARMENIA">ARMENIA</option>
                                                <option value="BARBOSA">BARBOSA</option>
                                                <option value="BELMIRA">BELMIRA</option>
                                                <option value="BELLO">BELLO</option>
                                                <option value="BETANIA">BETANIA</option>
                                                <option value="BETULIA">BETULIA</option>
                                                <option value="BOLIVAR">BOLIVAR</option>
                                                <option value="BRICEÑO">BRICENO</option>
                                                <option value="BURITICA">BURITICA</option>
                                                <option value="CACERES">CACERES</option>
                                                <option value="CAICEDO">CAICEDO</option>
                                                <option value="CALDAS">CALDAS</option>
                                                <option value="CAMPAMENTO">CAMPAMENTO</option>
                                                <option value="CAÑAS GORDAS">CAÑAS GORDAS</option>
                                                <option value="CARACOLI">CARACOLÍ</option>
                                                <option value="CARAMANTA">CARAMANTA</option>
                                                <option value="CAREPA">CAREPA</option>
                                                <option value="EL CARMEN DE VIBORAL">EL CARMEN DE VIBORAL</option>
                                                <option value="CAROLINA">CAROLINA</option>
                                                <option value="CASABE">CASABE</option>
                                                <option value="CAUCASIA">CAUCASIA</option>
                                                <option value="CHIGORODO">CHIGORODÓ</option>
                                                <option value="CISNEROS">CISNEROS</option>
                                                <option value="COCORNA">COCORNA</option>
                                                <option value="CONCEPCION">CONCEPCION</option>
                                                <option value="CONCORDIA">CONCORDIA</option>
                                                <option value="COPACABANA">COPACABANA</option>
                                                <option value="DABEIBA">DABEIBA</option>
                                                <option value="DONMATIAS">DONMATIAS</option>
                                                <option value="EBEJICO">EBEJICO</option>
                                                <option value="EL BAGRE">EL BAGRE</option>
                                                <option value="ENTRERRIOS">ENTRERRIOS</option>
                                                <option value="ENVIGADO">ENVIGADO</option>
                                                <option value="FREDONIA">FREDONIA</option>
                                                <option value="FRONTINO">FRONTINO</option>
                                                <option value="GIRALDO">GIRALDO</option>
                                                <option value="GIRARDOTA">GIRARDOTA</option>
                                                <option value="GOMEZ PLATA">GÓMEZ PLATA</option>
                                                <option value="GRANADA">GRANADA</option>
                                                <option value="GUADALUPE">GUADALUPE</option>
                                                <option value="GUARNE">GUARNE</option>
                                                <option value="GUATAPE">GUATAPÉ</option>
                                                <option value="HELICONIA">HELICONIA</option>
                                                <option value="HISPANIA">HISPANIA</option>
                                                <option value="ITAGUI">ITAGÜÍ</option>
                                                <option value="ITUANGO">ITUANGO</option>
                                                <option value="JARDIN">JARDÍN</option>
                                                <option value="JERICO">JERICÓ</option>
                                                <option value="LA CEJA">LA CEJA</option>
                                                <option value="LA ESTRELLA">LA ESTRELLA</option>
                                                <option value="LA MAGDALENA">LA MAGDALENA</option>
                                                <option value="LA PINTADA">LA PINTADA</option>
                                                <option value="LA UNION">LA UNION</option>
                                                <option value="LIBORINA">LIBORINA</option>
                                                <option value="MACEO">MACEO</option>
                                                <option value="MARINILLA">MARINILLA</option>
                                                <option value="MONTEBELLO">MONTEBELLO</option>
                                                <option value="MURINDO">MURINDO</option>
                                                <option value="MUTATA">MUTATA</option>
                                                <option value="NARIÑO">NARIÑO</option>
                                                <option value="NECOCLI">NECOCLÍ</option>
                                                <option value="NECHI">NECHI</option>
                                                <option value="OLAYA">OLAYA</option>
                                                <option value="EL PEÑOL">EL PEÑOL</option>
                                                <option value="PEQUE">PEQUE</option>
                                                <option value="PUEBLO RICO">PUEBLO RICO</option>
                                                <option value="PUERTO BERRIO">PUERTO BERRIO</option>
                                                <option value="PUERTO NARE">PUERTO NARE</option>
                                                <option value="PUERTO TRIUNFO">PUERTO TRIUNFO</option>
                                                <option value="REMEDIOS">REMEDIOS</option>
                                                <option value="EL RETIRO">EL RETIRO</option>
                                                <option value="RIONEGRO">RIONEGRO</option>
                                                <option value="SABANALARGA">SABANALARGA</option>
                                                <option value="SABANETA">SABANETA</option>
                                                <option value="SALGAR">SALGAR</option>
                                                <option value="SAN ANDRES">SAN ANDRES</option>
                                                <option value="SAN ANTONIO DE PRADO">SAN ANTONIO DE PRADO</option>
                                                <option value="SAN CARLOS">SAN CARLOS</option>
                                                <option value="SAN FRANCISCO">SAN FRANCISCO</option>
                                                <option value="SAN JERONIMO">SAN JERÓNIMO</option>
                                                <option value="SAN JOSE DE LA MONTAÑA">SAN JOSE DE LA MONTAÑA</option>
                                                <option value="SAN JUAN DE URABA">SAN JUAN DE URABA</option>
                                                <option value="SAN LUIS">SAN LUIS</option>
                                                <option value="SAN PEDRO">SAN PEDRO</option>
                                                <option value="SAN PEDRO DE URABA">SAN PEDRO DE URABÁ</option>
                                                <option value="SAN RAFAEL">SAN RAFAEL</option>
                                                <option value="SAN ROQUE">SAN ROQUE</option>
                                                <option value="SAN VICENTE">SAN VICENTE</option>
                                                <option value="SANTA BARBARA">SANTA BARBARA</option>
                                                <option value="SANTA ROSA DE OSOS">SANTA ROSA DE OSOS</option>
                                                <option value="SANTO DOMINGO">SANTO DOMINGO</option>
                                                <option value="EL SANTUARIO">EL SANTUARIO</option>
                                                <option value="SEGOVIA">SEGOVIA</option>
                                                <option value="SONSON">SONSÓN</option>
                                                <option value="SOPETRAN">SOPETRÁN</option>
                                                <option value="TAMESIS">TÁMESIS</option>
                                                <option value="TARAZA">TARAZÁ</option>
                                                <option value="TARSO">TARSO</option>
                                                <option value="TITIRIBI">TITIRIBÍ</option>
                                                <option value="TOLEDO">TOLEDO</option>
                                                <option value="TURBO">TURBO</option>
                                                <option value="URAMITA">URAMITA</option>
                                                <option value="URRAO">URRAO</option>
                                                <option value="VALDIVIA">VALDIVIA</option>
                                                <option value="VALPARAISO">VALPARAÍSO</option>
                                                <option value="VEGACHI">VEGACHI</option>
                                                <option value="VENECIA">VENECIA</option>
                                                <option value="VIGIA DEL FUERTE">VIGIA DEL FUERTE</option>
                                                <option value="YALI">YALÍ</option>
                                                <option value="YARUMAL">YARUMAL</option>
                                                <option value="YOLOMBO">YOLOMBO</option>
                                                <option value="YONDO">YONDO</option>
                                                <option value="ZARAGOZA">ZARAGOZA</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor seleccione un municipio.
                                            </div>
                                        </div>


                                        <div class="col-md-3 mb-3">
                                            <label for="state">Género</label>
                                            <select class="custom-select d-block w-100" id="genero" required>
                                                <option value="0">Seleccionar...</option>
                                                <option value="1">Masculino</option>
                                                <option value="2">Femenino</option>
                                                <option value="3">Otro</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Por favor seleccione un género.
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4">
                                    <div class="text-center">
                                        <p class="lead">Seleccione los roles que tendrá el administrador.</p>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="habilitaExamenes">
                                                <label class="custom-control-label" for="habilitaExamenes">Habilitar
                                                    exámenes</label>
                                            </div>
                                        </div>

                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="reactivaExamenes">
                                                <label class="custom-control-label" for="reactivaExamenes">Reactivar
                                                    exámenes</label>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="gestionaEstadisticas">
                                                <label class="custom-control-label" for="gestionaEstadisticas">Gestionar
                                                    estadísticas</label>
                                            </div>
                                        </div>

                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="clasificaAspirantes">
                                                <label class="custom-control-label" for="clasificaAspirantes">Clasificar
                                                    aspirantes</label>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4" style="width: 100%">

                                    <center>
                                        <button class="btn btn-primary" onclick=signup() type="button">Confirmar
                                            registro</button>
                                    </center>
                                </form>
                                <br>
                                <p id="failed" style="color:#bd1a1a ;display: none;text-align: center" ;>No se ha
                                    asignado ningún rol.</p>
                                <br><br>
                            </div>
                        </div>
                        <br>

                    </div>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span> &copy; 2019 Universidad EAFIT</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->

                </div>
                <!-- End of Content Wrapper -->

            </div>
            <!-- End of Page Wrapper -->

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro(a) de salir?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar
                            su sesión actual.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="/admin/logout">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script
                src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
            <script
                src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script
                src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script
                src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>

            <!-- Page level custom scripts -->
            <script
                src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
            <script
                src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script>

</body>

</html>