<!DOCTYPE html>
<html>
    <body>
        
        <header>
            Idiomas EAFIT
        </header>

        <div>
            <center>
                <h1>
                    Examen Adaptativo de Clasificación de Inglés
                </h1>
            </center>
        </div>

        <div>
            <center>
                <a href="/login/candidate">Login Candidate</a>
            </center>
        </div>

        <div>
                <center>
                    <a href="/login/admin">Login Admin</a>
                </center>
            </div>

    </body>
</html>