<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Profile - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css"
        rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <br>
                    <span class="mr-2 d-none d-lg-inline text-white-600 small">Sandra Gavíria</span>
                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar sesión
                    </a>
                </div>
            </li>
            <br>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/profile">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Roles
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/profile/register">
                    <i class="fas fa-user-plus"></i>
                    <span>Registrar administrador</span></a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-users-cog"></i>
                    <span>Roles Administrativos</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestión de roles:</h6>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/utilities-color.html">Agregar
                            roles</a>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/utilities-border.html">Actualizar
                            roles</a>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/utilities-animation.html">Eliminar
                            roles</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Estadísticas
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reportes"
                    aria-expanded="true" aria-controls="reportes">
                    <i class="fas fa-file-alt"></i>
                    <span>Reportes</span>
                </a>
                <div id="reportes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Examenes Anteriores:</h6>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/buttons.html">Último
                            mes</a>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/cards.html">Últimos 6
                            meses</a>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/cards.html">Último
                            año</a>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/cards.html">Por profesor
                            calificador</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Gestión de preguntas del examen
            </div>


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#preguntas"
                    aria-expanded="true" aria-controls="preguntas">
                    <i class="fas fa-question"></i>
                    <span>Preguntas</span>
                </a>
                <div id="preguntas" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestón de preguntas:</h6>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/login.html">Agregar
                            pregunta nueva</a>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/register.html">Editar
                            pregunta</a>
                        <a class="collapse-item"
                            href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/forgot-password.html">Eliminar
                            pregunta</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Registro de Administradores</h1>
                    </div>

                    <div class="container" style="max-width: 700px">
                        <div class="py-5 text-center">
                            <p class="lead">Señor Administrador, complete los campos desplegados a continuación para lograr un correcto
                                registro.</p>
                        </div>
                        <div class="container" style="width: 100%">
                        <div class="row">
                            <form class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="country">Tipo de documento</label>
                                        <select class="custom-select d-block w-100" id="dt" required>
                                            <option value="0">Seleccione el tipo de identificación...</option>
                                            <option value="1">Cédula de Ciudadanía</option>
                                            <option value="2">Cédula de Ciudadanía Ecuatoriana</option>
                                            <option value="3">Cédula de Extranjería</option>
                                            <option value="4">Cédula de Guatemala</option>
                                            <option value="5">Cédula de Panamá</option>
                                            <option value="6">Código de Estudiante</option>
                                            <option value="7">Documento Nacional de Identidad</option>
                                            <option value="8">Documento Personal Identificación</option>
                                            <option value="9">Nro Único Identificación Personal</option>
                                            <option value="10">Otro</option>
                                            <option value="11">Pasaporte</option>
                                            <option value="12">Registro</option>
                                            <option value="13">Tarjeta de Identidad</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor seleccione un tipo de documento.
                                        </div>
                                    </div>
                
                                    <div class="col mb-3">
                                        <label for="firstName">Documento de identidad</label>
                                        <input type="text" class="form-control" id="docnumber" placeholder="" value="" required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Documento de identidad" correctamente.
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="firstName">Nombres</label>
                                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Nombres" correctamente.
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <label for="lastName">Apellidos</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Apellidos" correctamente.
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="firstName">Usuario</label>
                                        <input type="text" class="form-control" id="username" placeholder="" value="" required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Usuario" correctamente.
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <label for="lastName">Contraseña</label>
                                        <input type="text" class="form-control" id="password" placeholder="" value="" required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Contraseña" correctamente.
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class=" col mb-3">
                                        <label for="username">Fecha de nacimiento</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="username" placeholder="AAAAMMDD" required>
                                            <div class="invalid-feedback" style="width: 100%;">
                                                Se requiere que llene el campo "Fecha de nacimiento" con el formato indicado.
                                            </div>
                                        </div>
                                    </div>
                
                
                                    <div class="col mb-3">
                                        <label for="email">Dirección de residencia</label>
                                        <input type="email" class="form-control" id="email" placeholder="">
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Dirección" correctamente.
                                        </div>
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="address">Teléfono</label>
                                        <input type="text" class="form-control" id="address" placeholder="(999) 9999999" required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Teléfono" correctamente.
                                        </div>
                                    </div>
                
                                    <div class="col mb-3">
                                        <label for="address2">Celular</label>
                                        <input type="text" class="form-control" id="address2" placeholder="">
                                    </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-md-5 mb-3">
                                        <label for="address">Email</label>
                                        <input type="text" class="form-control" id="address" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Email" correctamente.
                                        </div>
                                    </div>
                
                                    <div class="col mb-3">
                                        <label for="country">Ciudad</label>
                                        <select class="custom-select d-block w-100" id="country" required>
                                            <option value="">Escoger...</option>
                                            <option value="001">MEDELLÍN</option>
                                            <option value="002">ABEJORRAL</option>
                                            <option value="004">ABRIAQUI</option>
                                            <option value="021">ALEJANDRIA</option>
                                            <option value="030">AMAGA</option>
                                            <option value="031">AMALFI</option>
                                            <option value="034">ANDES</option>
                                            <option value="036">ANGELÓPOLIS</option>
                                            <option value="038">ANGOSTURA</option>
                                            <option value="040">ANORI</option>
                                            <option value="042">SANTA FE DE ANTIOQUIA</option>
                                            <option value="044">ANZA</option>
                                            <option value="045">APARTADÓ</option>
                                            <option value="051">ARBOLETES</option>
                                            <option value="055">ARGELIA</option>
                                            <option value="059">ARMENIA</option>
                                            <option value="079">BARBOSA</option>
                                            <option value="086">BELMIRA</option>
                                            <option value="088">BELLO</option>
                                            <option value="091">BETANIA</option>
                                            <option value="093">BETULIA</option>
                                            <option value="101">BOLIVAR</option>
                                            <option value="107">BRICENO</option>
                                            <option value="113">BURITICA</option>
                                            <option value="120">CACERES</option>
                                            <option value="125">CAICEDO</option>
                                            <option value="129">CALDAS</option>
                                            <option value="134">CAMPAMENTO</option>
                                            <option value="138">CANAS GORDAS</option>
                                            <option value="142">CARACOLÍ</option>
                                            <option value="145">CARAMANTA</option>
                                            <option value="146">CAREPA NO USAR</option>
                                            <option value="147">CAREPA</option>
                                            <option value="148">EL CARMEN DE VIBORAL</option>
                                            <option value="150">CAROLINA</option>
                                            <option value="151">CASABE</option>
                                            <option value="154">CAUCASIA</option>
                                            <option value="172">CHIGORODÓ</option>
                                            <option value="190">CISNEROS</option>
                                            <option value="197">COCORNA</option>
                                            <option value="206">CONCEPCION</option>
                                            <option value="209">CONCORDIA</option>
                                            <option value="212">COPACABANA</option>
                                            <option value="234">DABEIBA</option>
                                            <option value="237">DONMATIAS</option>
                                            <option value="240">EBEJICO</option>
                                            <option value="250">EL BAGRE</option>
                                            <option value="264">ENTRERRIOS</option>
                                            <option value="266">ENVIGADO</option>
                                            <option value="282">FREDONIA</option>
                                            <option value="284">FRONTINO</option>
                                            <option value="306">GIRALDO</option>
                                            <option value="308">GIRARDOTA</option>
                                            <option value="310">GÓMEZ PLATA</option>
                                            <option value="313">GRANADA</option>
                                            <option value="315">GUADALUPE</option>
                                            <option value="318">GUARNE</option>
                                            <option value="321">GUATAPÉ</option>
                                            <option value="347">HELICONIA</option>
                                            <option value="353">HISPANIA</option>
                                            <option value="360">ITAGÜÍ</option>
                                            <option value="361">ITUANGO</option>
                                            <option value="364">JARDÍN</option>
                                            <option value="368">JERICÓ</option>
                                            <option value="376">LA CEJA</option>
                                            <option value="380">LA ESTRELLA</option>
                                            <option value="387">LA MAGDALENA</option>
                                            <option value="390">LA PINTADA</option>
                                            <option value="400">LA UNION</option>
                                            <option value="411">LIBORINA</option>
                                            <option value="425">MACEO</option>
                                            <option value="440">MARINILLA</option>
                                            <option value="467">MONTEBELLO</option>
                                            <option value="475">MURINDO</option>
                                            <option value="480">MUTATA</option>
                                            <option value="483">NARINO</option>
                                            <option value="490">NECOCLI</option>
                                            <option value="495">NECHI</option>
                                            <option value="501">OLAYA</option>
                                            <option value="541">EL PEÑOL</option>
                                            <option value="543">PEQUE</option>
                                            <option value="576">PUEBLO RICO</option>
                                            <option value="579">PUERTO BERRIO</option>
                                            <option value="585">PUERTO NARE</option>
                                            <option value="591">PUERTO TRIUNFO</option>
                                            <option value="604">REMEDIOS</option>
                                            <option value="607">EL RETIRO</option>
                                            <option value="615">RIONEGRO</option>
                                            <option value="628">SABANALARGA</option>
                                            <option value="631">SABANETA</option>
                                            <option value="642">SALGAR</option>
                                            <option value="647">SAN ANDRES</option>
                                            <option value="648">SAN ANTONIO DE PRADO</option>
                                            <option value="649">SAN CARLOS</option>
                                            <option value="652">SAN FRANCISCO</option>
                                            <option value="656">SAN JERONIMO</option>
                                            <option value="658">SAN JOSE DE LA MONTANA</option>
                                            <option value="659">SAN JUAN DE URABA</option>
                                            <option value="660">SAN LUIS</option>
                                            <option value="664">SAN PEDRO</option>
                                            <option value="665">SAN PEDRO DE URABA</option>
                                            <option value="667">SAN RAFAEL</option>
                                            <option value="670">SAN ROQUE</option>
                                            <option value="674">SAN VICENTE</option>
                                            <option value="679">SANTA BARBARA</option>
                                            <option value="686">SANTA ROSA DE OSOS</option>
                                            <option value="690">SANTO DOMINGO</option>
                                            <option value="697">EL SANTUARIO</option>
                                            <option value="736">SEGOVIA</option>
                                            <option value="756">SONSÓN</option>
                                            <option value="761">SOPETRÁN</option>
                                            <option value="789">TAMESIS</option>
                                            <option value="790">TARAZA</option>
                                            <option value="792">TARSO</option>
                                            <option value="809">TITIRIBI</option>
                                            <option value="819">TOLEDO</option>
                                            <option value="837">TURBO</option>
                                            <option value="842">URAMITA</option>
                                            <option value="847">URRAO</option>
                                            <option value="854">VALDIVIA</option>
                                            <option value="856">VALPARAISO</option>
                                            <option value="858">VEGACHI</option>
                                            <option value="861">VENECIA</option>
                                            <option value="873">VIGIA DEL FUERTE</option>
                                            <option value="885">YALI</option>
                                            <option value="887">YARUMAL</option>
                                            <option value="890">YOLOMBO</option>
                                            <option value="893">YONDO</option>
                                            <option value="895">ZARAGOZA</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor seleccione un municipio.
                                        </div>
                                    </div>
                
                
                                    <div class="col-md-3 mb-3">
                                        <label for="state">Género</label>
                                        <select class="custom-select d-block w-100" id="state" required>
                                            <option value="">Escoger...</option>
                                            <option>MASCULINO</option>
                                            <option>FEMENINO</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>
                                </div>
                
                                <hr class="mb-4">
                                <div class="text-center">
                                    <p class="lead">Seleccione los roles que tendrá el administrador.</p>
                                </div>
                                <br>
                
                                    <div class="row">
                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="habilitaExamenes">
                                                <label class="custom-control-label" for="habilitaExamenes">Habilitar exámenes</label>
                                            </div>
                                        </div>
                                        
                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="reactivaExamenes">
                                                <label class="custom-control-label" for="reactivaExamenes">Reactivar exámenes</label>
                                            </div>
                                        </div>                   
                                    </div>
                
                                    <br>
                
                                    <div class="row">
                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="gestionaEstadisticas">
                                                <label class="custom-control-label" for="gestionaEstadisticas">Gestionar estadísticas</label>
                                            </div>
                                        </div>
                                        
                                        <div class="col mb-3" style="text-align: center">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="clasificaAspirantes">
                                                <label class="custom-control-label" for="clasificaAspirantes">Clasificar aspirantes</label>
                                            </div>
                                        </div>                   
                                    </div>
                
                                <hr class="mb-4" style="width: 100%">
                
                                <center>
                                    <button class="btn btn-primary" type="submit">Confirmar registro</button>
                                </center>
                            </form>
                        </div>
                    </div>
                    <br>
                    
            </div>
            <!-- End of Main Content -->
             
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> &copy; 2019 Universidad EAFIT</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro(a) de salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/admin/logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script
        src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script
        src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script>

</body>

</html>