<!DOCTYPE html>
<html>
    <body>
        <header>
            Idiomas EAFIT
        </header>
        <div>
             <center>
                <h1>Examen Adaptativo de Clasificación de Inglés</h1>
            </center>
        </div>
        <div>
                <center>
                        <a href="/signin/candidate">Login Aspirante</a>
               </center>
        </div>
        <div>
                <center>
                        <a href="/signin/admin">Login Admin</a>
               </center>
        </div>       
    </body>
</html>