<!DOCTYPE html>
<html>
    <header>
        Idiomas EAFIT
    </header>
    <body>
        <center> <div>
                <h1>
                    Examen Adaptativo de Clasificación de Inglés
                </h1>
            </div>
            <div>
                Pregunta 1: I _____ an english student.
            </div>
            <div>
                a) are
                b) is 
                c) am
            </div></center>
    </body>
</html>