<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <script src="/admin-profile/admin-register.js"></script>
    <!-- Custom fonts for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css"
        rel="stylesheet" type="text/css">


    <!-- Custom styles for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color: #001a72" id="accordionSidebar">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <br>
                    <span class="mr-2 d-none d-lg-inline text-white-600 small" id="nombreAdmin"></span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar sesión
                    </a>
                </div>
            </li>
            <br>

            <hr class="sidebar-divider my-0">

            <li class="nav-item ">
                <a class="nav-link" href="/admin/profile">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Aspirantes
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/admin/profile/exam-enable">
                    <i class="fas fa-fw fa-pencil-alt"></i>
                    <span>Habilitar examen</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/profile/candidate-grades">
                    <i class="fas fa-fw fa-award"></i>
                    <span>Resultados de examen</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/profile/grade">
                    <i class="fas fa-fw fa-check"></i>
                    <span>Clasificar aspirante</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Administradores
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/admin/profile/register">
                    <i class="fas fa-user-plus"></i>
                    <span>Registrar administrador</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/profile/edit-admin">
                    <i class="fas fa-users-cog"></i>
                    <span>Gestionar roles</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Estadísticas
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/profile/statistics">
                    <i class="fas fa-file-alt"></i>
                    <span>Reportes</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/profile/individual-results">
                    <i class="fas fa-fw fa-award"></i>
                    <span>Calificaciones Individuales</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/profile/gap">
                    <i class="fas fa-chart-pie"></i>
                    <span>Desfase Escrito vs Oral</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Examen
            </div>

            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#preguntas"
                    aria-expanded="true" aria-controls="preguntas">
                    <i class="fas fa-question"></i>
                    <span>Preguntas</span>
                </a>
                <div id="preguntas" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestón de preguntas:</h6>
                        <a class="collapse-item"
                            href="/admin/profile/add-question"><b>Agregar
                            pregunta nueva</b></a>
                        <a class="collapse-item"
                            href="/admin/profile/edit-question">Editar
                            pregunta</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container" style="max-width: 700px">
                        <div class="py-5 text-center">
                            <p class="lead">Complete el siguiente formulario para agregar una nueva pregunta a la base
                                de datos</p>
                        </div>
                        <div class="container" style="width: 100%">
                            <form class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="firstName">Pregunta</label>
                                        <textarea name="textarea" style="width:600px;height:50px;" id="question" placeholder="" value=""
                                        required></textarea>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Pregunta" correctamente.
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 mb-4">
                                        <label for="firstName">Respuesta 1</label>
                                        <input type="text" class="form-control" id="answer1" placeholder="" value=""
                                            required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Respuesta 1" correctamente.
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-4">
                                        <br>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" onclick="uncheck()" name="answer"
                                                id="answer1c">
                                            <label class="custom-control-label" for="answer1c">Correcta</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 mb-3">
                                        <label for="firstName">Respuesta 2</label>
                                        <input type="text" class="form-control" id="answer2" placeholder="" value=""
                                            required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Respuesta 2" correctamente.
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <br>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" onclick="uncheck()" name="answer"
                                                id="answer2c">
                                            <label class="custom-control-label" for="answer2c">Correcta</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 mb-3">
                                        <label for="firstName">Respuesta 3</label>
                                        <input type="text" class="form-control" id="answer3" placeholder="" value=""
                                            required>
                                        <div class="invalid-feedback">
                                            Se requiere que llene el campo "Respuesta 3" correctamente.
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <br>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" onclick="uncheck()" name="answer"
                                                id="answer3c">
                                            <label class="custom-control-label" for="answer3c">Correcta</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5 mb-3">
                                        <label for="state">Dificultad de la pregunta</label>
                                        <select class="custom-select d-block w-100" id="difficult" required>
                                            <option value="0">Facil</option>
                                            <option value="1">Intermedia</option>
                                            <option value="2">Avanzada</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor seleccione una dificultad.
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <br>


                        <hr class="mb-4" style="width: 100%">

                        <center>
                            <button class="btn btn-primary" onclick=signup() type="button">Agregar pregunta</button>
                        </center>
                        </form>
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> &copy; 2019 Universidad EAFIT</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro(a) de salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar
                    su sesión actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/admin/logout">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script
        src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script
        src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script>

    <script>
        function uncheck(){
            var checkbox1 = document.getElementById("answer1c");
            var checkbox2 = document.getElementById("answer2c");
            var checkbox3 = document.getElementById("answer3c");
            checkbox1.onclick = function(){
                if(checkbox1.checked != false){
                    checkbox2.checked =null;
                    checkbox3.checked =null;
                }
            }
            checkbox2.onclick = function(){
                if(checkbox2.checked != false){
                    checkbox1.checked=null;
                    checkbox3.checked=null;
                }
            }
            checkbox3.onclick = function(){
                if(checkbox3.checked != false){
                    checkbox1.checked=null;
                    checkbox2.checked=null;
                }
            }

            var a = document.getElementById("question").value;
            var b = document.getElementById("answer1").value;

            console.log(a);
            console.log(b);
        }
    </script>
</body>

</html>