<!DOCTYPE html>
<html>
<script src="/examen-results/examen-results.js"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Resultados</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbar-bottom/">


    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../styles/header.css">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .enca {
            background: #001a72;
            overflow: hidden;
            width: 100%;
            margin-bottom: 5px;
            top: 0;
            left: 0;
            position: relative;
        }

        .wrapper {
            width: 90%;
            max-width: 1180px;
            margin: auto;
            overflow: hidden;
        }

        .logo {
            float: right;
            line-height: 60px;
        }

        nav {
            line-height: 60px;
            float: left;
        }

        nav a {
            color: #fff;
            text-emphasis-color: #fff;
            text-decoration: none;
            display: inline-block;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <header class="enca">
        <div class="wrapper">
            <div class="logo">
                <img src="https://i.imgur.com/7x1qGuH.png" height="40px" style="vertical-align:middle;">
            </div>
            <nav>
                <a style="color:white">Resultados del examen</a>
            </nav>
        </div>
    </header>
    <br>
    <br>

    <center>
        <div class="card" style="width:900px; background-color:#e9ecef">
            <div class="card-body">
                <h2>Nota Parte 1: <span id="part1"></span></h2>
            </div>
        </div>
    </center>

    <br>

    <center>
        <div class="card" style="width:900px; background-color:#e9ecef">
            <div class="card-body">
                <h2>Nota Parte 2: <span id="part2"></span></h2>
            </div>
        </div>
    </center>

    <br>

    <center>
        <div class="card" style="width:900px; background-color:#e9ecef">
            <div class="card-body">
                <h2>Nota Parte 3: <span id="part3"></span></h2>
            </div>
        </div>
    </center>

    <br>

    <center>
        <div class="card" style="width:900px; background-color:#e9ecef">
            <div class="card-body">
                <h2>Nota Final: <span id="final_result"></span></h2>
            </div>
        </div>
    </center>

    <br>
    <br>

    <canvas id="pieChart" style="width:900px; height: 300px"></canvas>

    <br>
    <br>

    <center>
        <div class="card" style="width:900px; background-color:#e9ecef">
            <div class="card-body">
                <p class="card-text">¡Se ha culminado el examen de clasificación!
                    Diríjase al aula donde le harán el examen oral
                    y definirán su nivel de inglés</p>
                <br>
                <center>
                    <br>
                    <a class="btn btn-lg btn-primary" href="/signin" role="button">Salir</a>
                </center>
            </div>
        </div>
    </center>
    <br>
    <br>
    <br>

    <center>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>© 2019 Universidad EAFIT</p>
            </div>
        </footer>
    </center>

</body>

</html>