<!DOCTYPE html>
<html>
<script src="/examen-results/examen-results.js"></script>
    <head>
        Idiomas EAFIT
    </head>
    <body>
        <div>
        <h1>Notas del Aspirante</h1>
        </div>
        <br>
        <div>
            <h2>Nota Parte 1: <span id = "part1"></span></h2>
            <h2>Nota Parte 2: <span id = "part2"></span></h2>
            <h2>Nota Parte 3: <span id = "part3"></span></h2>
            <h2>Nota Final: <span id = "final_result"></span></h2>
        </div>
        <br>
        <card>
            <h1>"¡Se ha culminado el examen de clasificación! 
                Diríjase al aula donde le harán el examen oral 
                y definirán su nivel de inglés"</h1>
        </card>
    </body>
</html>