<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Actualización de datos del aspirante</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/candidate-update/candidate-update.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
    

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}</style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/checkout/form-validation.css" rel="stylesheet">
    <link rel="stylesheet" href="../../styles/header.css">
</head>

<body class="bg-light">
    <header class="enca" style="position: relative">
        <div class="wrapper">
            <div class="logo">
                <img src="https://i.imgur.com/7x1qGuH.png" height="40px" style="vertical-align:middle;">
            </div>
            <nav>
                <a style="color: white;">Actualización de datos del aspirante</a>
            </nav>
        </div>
    </header>

    <div class="container" style="max-width: 700px">
        <div class="py-5 text-center">
            <p class="lead">Señor Aspirante, antes de realizar el examen de clasificación del programa de Inglés para adultos, por
                favor diligencie el formulario con sus datos personales.</p>
        </div>
        <div class="row">
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col mb-3">
                        <label for="firstName">Nombres</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Se requiere que llene el campo "Nombres" correctamente.
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label for="lastName">Apellidos</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Se requiere que llene el campo "Apellidos" correctamente.
                        </div>
                    </div>
                </div>

                <div class="row">
                <div class=" col mb-3">
                    <label for="username">Fecha de nacimiento</label>
                    <div class="input-group">
                        <input type="date" class="form-control" id="birthdate" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Se requiere que llene el campo "Fecha de nacimiento" con el formato indicado.
                        </div>
                    </div>
                </div>
            

                <div class="col mb-3">
                    <label for="email">Dirección de residencia</label>
                    <input type="email" class="form-control" id="address" placeholder="">
                    <div class="invalid-feedback">
                        Se requiere que llene el campo "Dirección" correctamente.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <label for="address">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" placeholder="(999) 9999999" required>
                    <div class="invalid-feedback">
                        Se requiere que llene el campo "Teléfono" correctamente.
                    </div>
                </div>

                <div class="col mb-3">
                    <label for="address2">Celular</label>
                    <input type="text" class="form-control" id="celular" placeholder="">
                </div>

            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="address">Email</label>
                    <input type="text" class="form-control" id="correo" placeholder="" required>
                    <div class="invalid-feedback">
                        Se requiere que llene el campo "Email" correctamente.
                    </div>
                </div>

                    <div class="col mb-3">
                        <label for="country">Ciudad</label>
                        <select class="custom-select d-block w-100" id="city" required>
                            <option value="">Escoger...</option>
                            <option value="MEDELLIN">MEDELLÍN</option>
                            <option value="ABEJORRAL">ABEJORRAL</option>
                            <option value="ABRIAQUI">ABRIAQUI</option>
                            <option value="ALEJANDRIA">ALEJANDRIA</option>
                            <option value="AMAGA">AMAGA</option>
                            <option value="AMALFI">AMALFI</option>
                            <option value="ANDES">ANDES</option>
                            <option value="ANGELOPOLIS">ANGELÓPOLIS</option>
                            <option value="ANGOSTURA">ANGOSTURA</option>
                            <option value="ANORI">ANORI</option>
                            <option value="SANTA FE DE ANTIOQUIA">SANTA FE DE ANTIOQUIA</option>
                            <option value="ANZA">ANZA</option>
                            <option value="APARTADO">APARTADÓ</option>
                            <option value="ARBOLETES">ARBOLETES</option>
                            <option value="ARGELIA">ARGELIA</option>
                            <option value="ARMENIA">ARMENIA</option>
                            <option value="BARBOSA">BARBOSA</option>
                            <option value="BELMIRA">BELMIRA</option>
                            <option value="BELLO">BELLO</option>
                            <option value="BETANIA">BETANIA</option>
                            <option value="BETULIA">BETULIA</option>
                            <option value="BOLIVAR">BOLIVAR</option>
                            <option value="BRICEÑO">BRICENO</option>
                            <option value="BURITICA">BURITICA</option>
                            <option value="CACERES">CACERES</option>
                            <option value="CAICEDO">CAICEDO</option>
                            <option value="CALDAS">CALDAS</option>
                            <option value="CAMPAMENTO">CAMPAMENTO</option>
                            <option value="CAÑAS GORDAS">CAÑAS GORDAS</option>
                            <option value="CARACOLI">CARACOLÍ</option>
                            <option value="CARAMANTA">CARAMANTA</option>
                            <option value="CAREPA">CAREPA</option>
                            <option value="EL CARMEN DE VIBORAL">EL CARMEN DE VIBORAL</option>
                            <option value="CAROLINA">CAROLINA</option>
                            <option value="CASABE">CASABE</option>
                            <option value="CAUCASIA">CAUCASIA</option>
                            <option value="CHIGORODO">CHIGORODÓ</option>
                            <option value="CISNEROS">CISNEROS</option>
                            <option value="COCORNA">COCORNA</option>
                            <option value="CONCEPCION">CONCEPCION</option>
                            <option value="CONCORDIA">CONCORDIA</option>
                            <option value="COPACABANA">COPACABANA</option>
                            <option value="DABEIBA">DABEIBA</option>
                            <option value="DONMATIAS">DONMATIAS</option>
                            <option value="EBEJICO">EBEJICO</option>
                            <option value="EL BAGRE">EL BAGRE</option>
                            <option value="ENTRERRIOS">ENTRERRIOS</option>
                            <option value="ENVIGADO">ENVIGADO</option>
                            <option value="FREDONIA">FREDONIA</option>
                            <option value="FRONTINO">FRONTINO</option>
                            <option value="GIRALDO">GIRALDO</option>
                            <option value="GIRARDOTA">GIRARDOTA</option>
                            <option value="GOMEZ PLATA">GÓMEZ PLATA</option>
                            <option value="GRANADA">GRANADA</option>
                            <option value="GUADALUPE">GUADALUPE</option>
                            <option value="GUARNE">GUARNE</option>
                            <option value="GUATAPE">GUATAPÉ</option>
                            <option value="HELICONIA">HELICONIA</option>
                            <option value="HISPANIA">HISPANIA</option>
                            <option value="ITAGUI">ITAGÜÍ</option>
                            <option value="ITUANGO">ITUANGO</option>
                            <option value="JARDIN">JARDÍN</option>
                            <option value="JERICO">JERICÓ</option>
                            <option value="LA CEJA">LA CEJA</option>
                            <option value="LA ESTRELLA">LA ESTRELLA</option>
                            <option value="LA MAGDALENA">LA MAGDALENA</option>
                            <option value="LA PINTADA">LA PINTADA</option>
                            <option value="LA UNION">LA UNION</option>
                            <option value="LIBORINA">LIBORINA</option>
                            <option value="MACEO">MACEO</option>
                            <option value="MARINILLA">MARINILLA</option>
                            <option value="MONTEBELLO">MONTEBELLO</option>
                            <option value="MURINDO">MURINDO</option>
                            <option value="MUTATA">MUTATA</option>
                            <option value="NARIÑO">NARIÑO</option>
                            <option value="NECOCLI">NECOCLÍ</option>
                            <option value="NECHI">NECHI</option>
                            <option value="OLAYA">OLAYA</option>
                            <option value="EL PEÑOL">EL PEÑOL</option>
                            <option value="PEQUE">PEQUE</option>
                            <option value="PUEBLO RICO">PUEBLO RICO</option>
                            <option value="PUERTO BERRIO">PUERTO BERRIO</option>
                            <option value="PUERTO NARE">PUERTO NARE</option>
                            <option value="PUERTO TRIUNFO">PUERTO TRIUNFO</option>
                            <option value="REMEDIOS">REMEDIOS</option>
                            <option value="EL RETIRO">EL RETIRO</option>
                            <option value="RIONEGRO">RIONEGRO</option>
                            <option value="SABANALARGA">SABANALARGA</option>
                            <option value="SABANETA">SABANETA</option>
                            <option value="SALGAR">SALGAR</option>
                            <option value="SAN ANDRES">SAN ANDRES</option>
                            <option value="SAN ANTONIO DE PRADO">SAN ANTONIO DE PRADO</option>
                            <option value="SAN CARLOS">SAN CARLOS</option>
                            <option value="SAN FRANCISCO">SAN FRANCISCO</option>
                            <option value="SAN JERONIMO">SAN JERÓNIMO</option>
                            <option value="SAN JOSE DE LA MONTAÑA">SAN JOSE DE LA MONTAÑA</option>
                            <option value="SAN JUAN DE URABA">SAN JUAN DE URABA</option>
                            <option value="SAN LUIS">SAN LUIS</option>
                            <option value="SAN PEDRO">SAN PEDRO</option>
                            <option value="SAN PEDRO DE URABA">SAN PEDRO DE URABÁ</option>
                            <option value="SAN RAFAEL">SAN RAFAEL</option>
                            <option value="SAN ROQUE">SAN ROQUE</option>
                            <option value="SAN VICENTE">SAN VICENTE</option>
                            <option value="SANTA BARBARA">SANTA BARBARA</option>
                            <option value="SANTA ROSA DE OSOS">SANTA ROSA DE OSOS</option>
                            <option value="SANTO DOMINGO">SANTO DOMINGO</option>
                            <option value="EL SANTUARIO">EL SANTUARIO</option>
                            <option value="SEGOVIA">SEGOVIA</option>
                            <option value="SONSON">SONSÓN</option>
                            <option value="SOPETRAN">SOPETRÁN</option>
                            <option value="TAMESIS">TÁMESIS</option>
                            <option value="TARAZA">TARAZÁ</option>
                            <option value="TARSO">TARSO</option>
                            <option value="TITIRIBI">TITIRIBÍ</option>
                            <option value="TOLEDO">TOLEDO</option>
                            <option value="TURBO">TURBO</option>
                            <option value="URAMITA">URAMITA</option>
                            <option value="URRAO">URRAO</option>
                            <option value="VALDIVIA">VALDIVIA</option>
                            <option value="VALPARAISO">VALPARAÍSO</option>
                            <option value="VEGACHI">VEGACHI</option>
                            <option value="VENECIA">VENECIA</option>
                            <option value="VIGIA DEL FUERTE">VIGIA DEL FUERTE</option>
                            <option value="YALI">YALÍ</option>
                            <option value="YARUMAL">YARUMAL</option>
                            <option value="YOLOMBO">YOLOMBO</option>
                            <option value="YONDO">YONDO</option>
                            <option value="ZARAGOZA">ZARAGOZA</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor seleccione un municipio.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="state">Género</label>
                        <select class="custom-select d-block w-100" id="genero" required>
                            <option value="">Seleccionar...</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>

                </div>
                <hr class="mb-4">
                <div class="pre-scrollable" style="background-color: white">
                    <p style="text-align: justify;">DOCUMENTO DE AUTORIZACI&Oacute;N DE USO DE DATOS
                        PERSONALES<br /><br />La Universidad EAFIT, como instituci&oacute;n de educaci&oacute;n
                        superior, con domicilio en la Ciudad de Medell&iacute;n, Colombia, act&uacute;a y es Responsable
                        del Tratamiento de los datos personales, en atenci&oacute;n a las actividades de
                        recolecci&oacute;n y almacenamiento de datos personales que realiza. La Pol&iacute;tica de
                        tratamiento de Datos Personales de la Universidad EAFIT contiene las pol&iacute;ticas para el
                        tratamiento de la informaci&oacute;n recogida, as&iacute; como los procedimientos de consulta y
                        reclamaci&oacute;n que le permitir&aacute;n hacer efectivos sus derechos al acceso, consulta,
                        rectificaci&oacute;n, actualizaci&oacute;n y supresi&oacute;n de los datos; esta pol&iacute;tica
                        puede ser consultada en el link:&nbsp;<br /><a
                            href="http://www.eafit.edu.co/institucional/reglamentos/tratamiento-proteccion-datos-personales/"
                            target="_new">http://www.eafit.edu.co/institucional/reglamentos/tratamiento-proteccion-datos-personales/</a><br /><br />Conforme
                        a lo establecido en la normatividad vigente, nos permitimos informarle que sus datos personales
                        ser&aacute;n incluidos en una base de datos y ser&aacute;n utilizados de manera directa o a
                        trav&eacute;s de terceros designados, entre otras, y de manera meramente enunciativa para las
                        siguientes finalidades directas e indirectas relacionadas con el objeto y prop&oacute;sitos de
                        la Universidad:&nbsp;<br /><br />- Lograr una eficiente comunicaci&oacute;n relacionada con
                        nuestros servicios, y dem&aacute;s actividades relacionadas con las funciones propias de la
                        Universidad como instituci&oacute;n de educaci&oacute;n superior; alianzas, estudios,
                        contenidos, as&iacute; como de las dem&aacute;s instituciones con las cuales tenga una
                        relaci&oacute;n directa o indirecta, y para facilitarle el acceso general a la
                        informaci&oacute;n de &eacute;stos;&nbsp;<br />- Proveer nuestros servicios;&nbsp;<br />-
                        Informar sobre nuevos servicios que est&eacute;n relacionados con los ofrecidos o que tuviere la
                        Universidad;&nbsp;<br />- Dar cumplimiento a obligaciones contra&iacute;das con nuestros
                        estudiantes, profesores, contratistas, contratantes, clientes, proveedores, y
                        empleados;&nbsp;<br />- Informar sobre cambios de los servicios de la Universidad;&nbsp;<br />-
                        Evaluar la calidad del servicio;&nbsp;<br />- Realizar estudios internos sobre h&aacute;bitos de
                        consumo de los servicios y productos ofrecidos por la Universidad.&nbsp;<br /><br />En
                        consecuencia solicitamos su autorizaci&oacute;n libre, previa, expresa, voluntaria, y
                        debidamente informada, para que permita a todas las dependencias acad&eacute;micas y/o
                        administrativas, recolectar, recaudar, almacenar, usar, circular, suprimir, procesar, compilar,
                        intercambiar, dar tratamiento, actualizar y disponer de los datos que suministrar y se
                        incorporar&aacute;n a las distintas bases o bancos de datos, o en repositorios
                        electr&oacute;nicos de todo tipo con que cuenta la Universidad EAFIT. Esta informaci&oacute;n
                        es, y ser&aacute; utilizada en el desarrollo de las funciones propias de la Universidad en su
                        condici&oacute;n de instituci&oacute;n de educaci&oacute;n superior, de forma directa o a
                        trav&eacute;s de terceros.&nbsp;<br /><br />Si usted no desea que sus datos personales sean
                        utilizados por LA UNIVERSIDAD, podr&aacute; revocar de manera parcial o total tal
                        autorizaci&oacute;n de manera expresa e inequ&iacute;voca, directa, expresa y por escrito bien
                        sea en medio f&iacute;sico o electr&oacute;nico; o de manera verbal, o por cualquier medio o
                        conducta inequ&iacute;voca que permita concluir de forma razonable que se revoca tal
                        autorizaci&oacute;n o consentimiento.&nbsp;<br /><br />C&oacute;mo
                        contactarnos:<br />Direcci&oacute;n: Carrera 49 No. 7 Sur 50, Oficina Mercadeo
                        Institucional<br />Correo electr&oacute;nico: datospersonales@eafit.edu.co<br />Tel&eacute;fono:
                        2619500 Ext. 9312</p>
                </div>
                <hr class="mb-4">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Consiento y autorizo de manera previa,
                        expresa e inequívoca que mis datos personales sean tratados conforme a lo previsto en el
                        presente documento y/o autorización. </label>
                </div>
                <hr class="mb-4">
                <center>
                    <button class="btn btn-primary" onclick=update() type="button">Guardar</button>
                </center>
            </form>
            <br><br>
            <p id="failed" style="color:#bd1a1a ;display: none;text-align: center";>No se ha aceptado la autorización.</p>
            <br><br>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019 Universidad EAFIT</p>
        </footer>
    </div>
</body>
</html>